/* Базовые цвета */

:root {
  /* базовые цвета */
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-steelblue-dark: #293449;
  --basic-steelblue: #32425C;
  --basic-lightcyan: #F2F6F8;
  --basic-linen-dark: #F7F3EC;
  --basic-linen: #F9F5F0;
  --basic-gray: #F3F7F9;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  /* специальные цвета */
  --special-gray-3dark: #444444;
  --special-gray-2dark: #A9A9A9;
  --special-gray-1dark: #ABABAB;
  --special-gray: #D7DCDE;
  --special-gray-1light: #E5E5E5;
  --special-gray-2light: #EAEAEA;
  --special-gray-3light: #F1F5F7;
  --special-gray-4light: #F3F7F9;
  --special-gray-light: #F1F1F1;
  --special-red: #FF5357;
  --special-orangeyellow: #FFD180;
  --special-steelblue: #212A3A;
  --special-orange: #FFBF47;
  --special-turquoise: #3BBCE3;
  --special-orchid: #DC91D8;
  --special-lightgreen: #8ED78F;
  --special-white-transparent: rgba(255, 255, 255, 0.3);
  /* цвета при взаимодействии */
  --stillness-gray: #C5C5C5;
  --hover-gray: #C5C5C5;
  --hover-green: #5FBB2D;
  --hover-steelblue: #161D29;
  --hover-white-semitransparent: rgba(255, 255, 255, 0.5);
  --hover-gray-transparent: rgba(197, 197, 197, 0.3);
  --active-gray: #C5C5C5;
  --active-gray-transparent: rgba(169, 169, 169, 0.3);
  --active-gray-semitransparent: rgba(241, 245, 247, 0.5);
  --active-yellow-semitransparent: rgba(255, 209, 128, 0.5);
  --active-red: #BA2732;
  --active-green: #518534;
}


/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0px;
  font-family: "Cuprum", sans-serif;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}


/* Header */

.main-header {
  background-color: var(--basic-gray);
  width: 1200px;
  height: 320px;
}

.main-header-top {
  width: 1200px;
  height: 42px;
  background-color: var(--basic-steelblue-dark);
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.main-header-top a {
  color: var(--basic-white);
}

.technomart-logo-header {
  width: 220px;
  height: 47px;
  background-image: url(img/common_img/logos/logo_technomart_header.svg);
  background-repeat: no-repeat;
}

.technomart-logo-header:active {
  background-image: url(img/common_img/logos/logo_technomart_header_active.svg);
  background-repeat: no-repeat;
}

.main-header-top img {
  opacity: 0.3;
}

div.search:hover img,
div.marks:hover img,
div.cart:hover img {
  opacity: 1;
}

div.search input[type="search"]:focus {
  background-color: var(--basic-white);
}

div.marks:active,
div.cart:active {
  background-color: var(--hover-steelblue);
}

div.marks:active img,
div.cart:active img {
  opacity: 0.3;
}

div.marks:active a,
div.cart:active a,
div.order:active a {
  color: var(--hover-white-semitransparent);
}

.main-header-top .cart-index {
  background-color: transparent;
}

.main-header-top .cart-catalog {
  background-color: var(--basic-red);
}

.main-header-top .order {
  background-color: var(--basic-green);
}

div.order:hover {
  background-color: var(--hover-green);
}

div.order:active {
  background-color: var(--basic-green);
}

.main-header-middle {
  width: 940px;
  height: 158px;
  background-color: transparent;
}

.main-header-middle h1 {
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.telefon p {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

p.addres {
  color: var(--basic-steelblue);
  font-size: 14px;
  line-height: 24px;
}

.authorization {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.authorization div {
  background-color: var(--basic-white);
}

.authorization a {
  color: var(--basic-black);
}

.authorization div.enter,
.authorization div.registration {
  background-color: var(--basic-white);
}

.authorization div.enter:hover a,
.authorization div.registration:hover a {
  color: var(--basic-red);
}

.authorization div.enter:active a,
.authorization div.registration:active a {
  color: var(--active-gray);
}

.authorization-on-top {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.authorization-on-top a {
  color: var(--basic-black);
}

.authorization-on-top:active a {
  color: var(--active-gray);
}

.authorization-on-bottom a {
  color: var(--basic-steelblue);
  font-size: 16px;
  line-height: 18px;
}

.authorization-on-bottom li {
  list-style-type: none;
}

.authorization-on-bottom li:hover a {
  color: var(--basic-red);
}

.authorization-on-bottom li:active a {
  color: var(--active-gray);
}

.main-header-bottom {
  width: 940px;
  height: 60px;
  background-color: var(--basic-steelblue);
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.main-navigation a {
  color: var(--basic-white);
}

.main-navigation li {
  list-style-type: none;
}

.main-navigation li:hover {
  background-color: var(--basic-steelblue-dark);
}

.main-navigation li:active {
  background-color: var(--hover-steelblue);
}

.main-navigation li:active a {
  color: var(--active-gray)
}


/* Index-Main */


/* product-info */

.slider-list li:nth-child(2) {
  display: none;
}

.product-info {
  width: 940px;
  height: 409px;
  background-color: transparent;
}

.product-info div {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.product-info a {
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-info-item a {
  background-color: var(--special-white-transparent);
}

.product-info-item a:hover {
  background-color: var(--hover-gray-transparent);
}

.product-info-item a:active {
  background-color: var(--active-gray-transparent);
}

.slider a {
  background-color: var(--basic-red);
}

.slider a:active {
  background-color: var(--active-red);
}

.product-info div.material {
  background-color: var(--special-orange);
}

.product-info div.instrument {
  background-color: var(--special-turquoise);
}

.product-info div.technic {
  background-color: var(--special-orchid);
}

.product-info div.discount {
  background-color: var(--special-lightgreen);
}

.product-info div.delivery {
  background-color: var(--special-orange);
}

.slider-list-item h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-list-item p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.button-slide-back,
.button-slide-ahead {
  border: 0;
  width: 22px;
  height: 40px;
}


/* popular-product */

.popular-product {
  width: 940px;
  height: 427px;
  background-color: transparent;
}

.popular-product-header {
  width: 940px;
  height: 89px;
  background-color: var(--basic-linen);
  text-transform: uppercase;
}

.popular-product-header h2 {
  color: var(--basic-steelblue);
  font-size: 30px;
  line-height: 30px;
}

.popular-product-header a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.popular-product-list-item {
  list-style-type: none;
  width: 220px;
  height: 318px;
  background-color: var(--basic-white);
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.popular-product-list-item h3 {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
}

.popular-product-list-item p {
  color: var(--special-gray-2dark);
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.popular-product-list-item a {
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}


/* producers */

.producers {
  width: 940px;
  height: 419px;
  background-color: transparent;
}

.producers-header {
  width: 940px;
  height: 89px;
  background-color: var(--basic-linen);
  text-transform: uppercase;
}

.producers-header h2 {
  color: var(--basic-steelblue);
  font-size: 30px;
  line-height: 30px;
}

.producers-header a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.producers-list-item {
  list-style-type: none;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
}


/* services */

.services-menu-list-guarantee,
.services-menu-list-credit,
.services-menu-info-guarantee,
.services-menu-info-credit {
  display: none;
}

.callback-block {
  display: none;
}

.map-click-after {
  display: none;
}

.services {
  background-color: var(--special-gray-3light);
}

.services>h2 {
  background-color: transparent;
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services>p {
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
}

.services-menu-list a {
  color: var(--basic-white);
}

.services-menu-list li {
  list-style-type: none;
  background-color: var(--basic-steelblue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.services-menu-list li:hover {
  background-color: var(--basic-steelblue-dark);
}

.services>div {
  background-color: transparent;
}

.services-menu-info h3 {
  color: var(--basic-steelblue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-menu-info p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about {
  width: 940px;
  height: 356px;
  background-color: transparent;
  color: var(--basic-black);
}

.about-info h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-info div {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-info ul.transport-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 24px;
}

.about-info>a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.about-contacts h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-contacts button[name="callback-click"] {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.about-contacts img {
  width: 300px;
  height: 158px;
}


/* Catalog-Main */

.showing-list-hover-item {
  display: none;
}

.catalog-interaktive {
  width: 940px;
  height: 1290px;
  background-color: transparent;
}

.catalog-navigation-item {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-navigation-item a {
  color: var(--basic-black);
}

.catalog-navigation li {
  list-style-type: none;
}

.catalog-part-title {
  background-color: var(--basic-lightcyan);
  color: var(--basic-steelblue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  height: 720px;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-name {
  background-color: var(--basic-linen-dark);
  font-size: 13px;
  line-height: 18px;
}

.filter-form legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-form-price input {
  border: 0;
  background-color: var(--basic-linen-dark);
}

.filter-form-price input[type="number"] {
  font-size: 17px;
  line-height: 18px;
}

.filter-form-producer-list li,
.filter-form-power-list li {
  list-style-type: none;
  font-size: 15px;
  line-height: 19px;
}

.filter-result {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-and-showing {
  width: 700px;
  min-height: 720px;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
}

.sort-and-showing .sort {
  background-color: var(--basic-linen-dark);
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.button-sort-form {
  color: var(--stillness-gray);
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: dotted;
  text-transform: uppercase;
}

.button-sort-form:hover {
  color: var(--basic-black);
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: solid;
  text-transform: uppercase;
}

.button-sort-form:active {
  color: var(--basic-red);
  text-decoration: none;
  text-transform: uppercase;
}

.showing-list-item {
  list-style-type: none;
  width: 220px;
  height: 318px;
  background-color: var(--basic-white);
}

.showing-list-item img+p {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.showing-list-item img+p+p {
  color: var(--special-gray-2dark);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.showing-list-item img+p+p+p {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.showing-list-hover-item {
  list-style-type: none;
  width: 220px;
  height: 318px;
  background-color: var(--basic-white);
}

.showing-list-hover-item button+p {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.showing-list-hover-item button+p+p {
  color: var(--special-gray-2dark);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.showing-list-hover-item button+p+p+p {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.showing-list-hover-item button.buy-item>img {
  opacity: 0.3;
}

.showing-list-hover-item button.buy-item {
  font-family: "Cuprum", sans-serif;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  background-color: var(--basic-green);
}

.showing-list-hover-item button.buy-item:hover {
  background-color: var(--hover-green);
}

.showing-list-hover-item button.buy-item:active {
  background-color: var(--active-green);
}

.showing-list-hover-item button.mark-in-item {
  font-family: "Cuprum", sans-serif;
  color: var(--basic-steelblue);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: solid 3px var(--basic-green);
  background-color: var(--basic-white);
}

.showing-list-hover-item button.mark-in-item:hover {
  border-color: var(--basic-steelblue);
}

.showing-list-hover-item button.mark-in-item:active {
  color: var(--active-gray);
  border-color: var(--active-gray);
}

.paging-list a {
  color: var(--basic-black);
}

.paging-list li {
  list-style-type: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--special-gray-1light);
  border-radius: 2px;
}

.paging-list li:hover {
  border-color: var(--hover-gray);
}

.paging-list li:active {
  border-color: var(--basic-red);
}

.add-info {
  width: 1200px;
  height: 261px;
  color: var(--basic-black);
}

.add-info h2 {
  background-color: var(--special-gray-3light);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.add-info p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}


/* Footer */

.main-footer {
  width: 1200px;
  height: 300px;
}

.main-footer-top {
  width: 1200px;
  height: 193px;
  background-color: var(--basic-steelblue);
  font-size: 18px;
  line-height: 24px;
}

.address-and-telefon {
  color: var(--basic-gray);
}

.secondary-navigation-part-one a {
  color: var(--special-gray-3light);
}

.secondary-navigation-part-two a {
  color: var(--special-orangeyellow);
}

.secondary-navigation-part-one li,
.secondary-navigation-part-two li {
  list-style-type: none;
}

.secondary-navigation-part-one li:hover a,
.secondary-navigation-part-two li:hover a {
  text-decoration: underline;
}

.secondary-navigation-part-one li:active a {
  text-decoration: none;
  color: var(--active-gray-semitransparent);
}

.secondary-navigation-part-two li:active a {
  text-decoration: none;
  color: var(--active-yellow-semitransparent);
}

.main-footer-bottom {
  width: 1200px;
  height: 107px;
  background-color: var(--basic-steelblue-dark);
  font-size: 16px;
  line-height: 18px;
}

.copyright {
  color: var(--basic-white);
}

.social-network-list li {
  display: inline-block;
  list-style-type: none;
  width: 44px;
  height: 44px;
  background-color: var(--special-steelblue);
  border: 0.001px solid var(--special-steelblue);
  border-radius: 100%;
}

.social-network-list img[alt="Вконтакте"] {
  width: 25px;
  height: 14px;
  padding: 14px 9px 15px 9px;
}

.social-network-list img[alt="Facebook"] {
  width: 12px;
  height: 22px;
  padding: 11px 16px 11px 16px;
}

.social-network-list img[alt="Instagram"] {
  width: 21px;
  height: 21px;
  padding: 11px 12px 12px 11px;
}

.social-network-list li:hover,
.social-network-list li:active {
  color: var(--basic-red);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}

.feedback p,
.owner p {
  color: var(--basic-white);
}

.feedback a,
.owner a {
  color: var(--special-orangeyellow);
}

.feedback a:hover,
.owner a:hover {
  text-decoration: underline;
}

.feedback a:active,
.owner a:active {
  text-decoration: none;
  color: var(--basic-red);
}


/* CATALOG: buy-item-form */

.buy-item-form {
  display: none;
}

.buy-item-form {
  width: 620px;
  height: 282px;
  background-color: var(--basic-white);
}

.buy-item-form-top {
  width: 620px;
  height: 170px;
}

.buy-item-form-top-decoration {
  width: 620px;
  height: 7px;
  background-color: var(--basic-red);
}

.buy-item-form-top-message span {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.buy-item-form-top-message img {
  width: 66px;
  height: 66px;
}

.button-buy-item-form-top-close {
  border: 0;
  background-color: transparent;
}

.button-buy-item-form-top-close img {
  width: 21px;
  height: 21px;
}

.buy-item-form-bottom {
  width: 620px;
  height: 112px;
  background-color: var(--special-gray-light);
}

.buy-item-form-bottom-order {
  background-color: var(--basic-red);
}

.buy-item-form-bottom-order a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button-buy-item-form-bottom-continue {
  border: 0;
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}